{% extends 'layout.html' %}

{% block content %}
  <h1 id="title-current-profile">Scores for <a href="{{ urlProfile }}">{{ urlProfile }}</a></h1>

  <div class="row">
    <div class="span12">
      <div class="row">
        {% set tiles = ['PageSpeed', 'YSlow', 'Time to load', 'Size'] %}
        {% for tile in tiles %}
          <div class="span3">
            <div class="tile">
              <h3 class="tile-title">{{ tile }}</h3>
              <p id="connections-{{ tile|lower|replace(' ','','g') }}">0</p>
              <span class="palette palette-turquoise">Score</span>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="span12">
          <svg class="chart" id="chart-history"/>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="span12">
      <h2>Page statistics</h2>

      <legend>Number of resources</legend>
      <div class="row-fluid">
        <svg class="chart" id="chart-numberResources"/>
      </div>

      <legend>Transferred bytes</legend>
      <div class="row-fluid">
        <svg class="chart" id="chart-weightResources"/>
      </div>

      <legend>Unique hosts</legend>
      <div class="row-fluid">
        <svg class="chart" id="chart-numberHosts"/>
      </div>

    </div>
  </div>
{% endblock %}

{% block css %}
  {% parent %}
    <!-- vendor styles -->
    <link rel="stylesheet" href="/css/nvd3/nv.d3.min.css">
    <link rel="stylesheet" href="/css/wpo-monitor-chart.css">
{% endblock %}

{% block js %}
  {% parent %}
  <!-- Load JS here for greater good =============================-->
  <!-- scripts for nvd3 -->
  <script src="/lib/nvd3/d3.v2.min.js"></script>
  <script src="/lib/nvd3/nv.d3.min.js"></script>
  <script src="/lib/nvd3/tooltip.js"></script>
  <script src="/lib/nvd3/utils.js"></script>
  <script src="/lib/nvd3/models/legend.js"></script>
  <script src="/lib/nvd3/models/axis.js"></script>
  <script src="/lib/nvd3/models/scatter.js"></script>
  <script src="/lib/nvd3/models/line.js"></script>
  <script src="/lib/nvd3/models/lineChart.js"></script>

  <script src="/js/chart.js"></script>
  <script src="/js/scores.js"></script>
  <script src="/js/pagestat.js"></script>

  <script>
    $(document).ready(function(){
        var scores = new Scores();
        var pagestat = new Pagestat();

        scores.runner('{{ urlProfile }}');
        pagestat.runner('{{ urlProfile }}');
    });
  </script>
{% endblock %}
