{% extends 'layout.html' %}

{% block css %}
  {% parent %}
    <link rel="stylesheet" href="/css/modules/profile.css">
{% endblock %}

{% block content %}
  <h1>
    Profile
  </h1>
  <div class="span1 btn-profile-add">
    <a href="#box-form-profile" class="btn btn-large btn-block btn-primary fui-plus" data-toggle="collapse"></a>
  </div>

  <button class="btn btn-large btn-block btn-profile btn-profile-alert"></button>

  <div id="box-form-profile" class="collapse">
    <form class="form-profile" action="">
      <div class="form-group">
        <label for="url">Page URL</label>
        <input type="url" id="url" name="url" placeholder="http://..." required title="Use a complete URL, including the protocol" class="form-control">
      </div>
        
      <div class="form-group">
        <label for="email">Notify e-mail</label>
        <input type="email" id="email" name="email" placeholder="you@domain.com" required class="form-control">
      </div>

      <div class="form-group">
        <label for="thumbnail">Page thumbnail</label>
        <input type="url" id="thumbnail" name="thumbnail" placeholder="A cool thumbnail URL" class="form-control">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-profile-add-submit">Submit</button>
      </div>
    </form>
  </div>

  <table id="profiles-table" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <td>URL</td>
            <td>Email</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody id="profile-tbody">
      <tr>
        <td colspan="3">
          <p class="lead text-center"><strong>Loading monitors...</strong></p>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block js %}
  {% parent %}
  <!-- Load JS here for greater good =============================-->
  <script src="js/profile.js"></script>
{% endblock %}
